

  <mat-toolbar class = "laddertech-toolbar">
    
    <mat-toolbar-row>
        <span class="laddertech-toolheader" >JSON to XML</span>
        <span class="laddertech-toolspacer"></span>
        <button mat-raised-button  (click)="onConvertClicked()">Convert</button>
    </mat-toolbar-row>

   
    <!-- <mat-toolbar-row>
        <span>Second Line</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    </mat-toolbar-row> -->

</mat-toolbar>

 
   

