<!-- Toolbar -->
  <mat-toolbar class = "laddertech-toolbar">
    <button class = "laddertech-toolbutton"  mat-icon-button  aria-label="laddertech icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="laddertech-toolheader">Code Convertors</span>
    <span class="laddertech-toolspacer"></span>
    <button mat-icon-button class="laddertech-toolbutton favorite-icon" ria-label="laddertech icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button class="laddertech-toolbutton favorite-icon" mat-icon-button  aria-label="laddertech icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>


<mat-sidenav-container class="lt-main-mat-sidenav-container" >
 
  <mat-sidenav mode="side" opened>
    <ltnavpanel class="lt-navpanel">
    </ltnavpanel>
  </mat-sidenav>

  <mat-sidenav-content  >
    
    <mat-grid-list cols="4" rowHeight="800px">
      <mat-grid-tile colspan="3"  >
        <main class="lt-main-mat-sidenav-content">
            <router-outlet ></router-outlet>
        </main>

      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
       
       
      </mat-grid-tile>
     
    </mat-grid-list>

  </mat-sidenav-content>
</mat-sidenav-container>




