
<mat-accordion class="lt-navpanel">

    <mat-expansion-panel expanded="true" >
      
       <mat-expansion-panel-header >
        <mat-panel-title class="lt-navpanel-header">
          Convertors
        </mat-panel-title>
        
      </mat-expansion-panel-header>

      <!-- <div *ngFor="let item of navLinks">
        <a   href="{{ item.link }}">{{item["name"]}}</a>
      </div> -->

      <!-- <mat-selection-list [multiple]="false" class="lt-menuitem" >
        <mat-list-option  *ngFor="let item of navLinks" [value]="item.link">
          {{item["name"]}}
        </mat-list-option>
      </mat-selection-list> -->
      <mat-nav-list class="lt-navpanel-menu">
        <a mat-list-item routerLink="{{nav.link}}" *ngFor="let nav of navLinks">
            <span class="lt-navpanel-menuitem" >{{nav.name}}</span></a>
      </mat-nav-list>
      

  
    </mat-expansion-panel>
  
   
  
</mat-accordion>
